body {
  font-family: "Mukta", sans-serif;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
#navbar {
  width: 100%;
  background-color: blue;
}
.active {
  background-color: darkblue;
}
p {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.container {
  max-width: 1280px;
}
.top-header {
  margin: 20px 0;
}
#logo-date {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 30px;
}

header {
  background: blue;
}
.menu ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}
.menu ul li {
  font-size: 18px;
}
.menu ul li a,
header .header-nav a {
  display: block;
  color: white;
  padding: 12px 15px;
}
.menu ul li a:hover,
header .header-nav:hover {
  background-color: darkblue;
}
.search-tooltip {
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  color: white;
  bottom: -26px;
  left: 99px;
  padding: 4px 13px;
}
.time-tooltip {
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  color: white;
  padding: 4px 13px;
  bottom: -26px;
  left: 155px;
}
.trending-tooltip {
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  color: white;
  padding: 4px 13px;
  left: 211px;
  bottom: -26px;
}
.trending {
  color: white;
  background: rgb(26, 26, 172);
}
.search-box:hover .search-tooltip {
  visibility: visible;
}
.time:hover .time-tooltip {
  visibility: visible;
}
.trending:hover .trending-tooltip {
  visibility: visible;
}
.search-box,
.time {
  padding: 0 20px;
  cursor: pointer;
}
.search-box i,
.time i {
  color: white;
}
.search-box {
  background: rgb(103, 124, 219);
}
.time:hover {
  background: #f4a100;
}
.trending:hover,
.english:hover {
  background-color: darkblue;
  cursor: pointer;
}
.trending {
  padding: 0 20px;
}
.trending i {
  margin-right: 5px;
}
.trending a {
  color: #f4a100;
  line-height: 50px;
}
.trending a:hover,
.english a:hover {
  text-decoration: none;
  color: white;
}
.english {
  background: red;
  width: 80px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}
.english a {
  color: white;
}
a {
  color: black;
}
a:hover {
  color: blue;
}
.trending-title {
  text-transform: uppercase;
  font-size: 14px;
  width: 110px;
  height: 40px;
  background: #e0dfda;
}
.trending-title p {
  font-size: 12px;
  margin: auto 0;
}
.trending-item {
  height: 40px;
}
.trending-item ul {
  height: 40px;
}
.trending-item ul li {
  display: inline-block;
  padding: 15px;
}
.trending-item ul li a {
  text-decoration: none;
  color: black;
}
.trending-item ul li a:hover {
  color: blue;
}

.hashtag {
  margin-right: 5px;
  opacity: 0.5;
}
.ad-banner {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ad-banner img {
  align-items: center;
  justify-content: center;
}
.headline-1 {
  margin: 30px auto;
}
.headline-1 h1 {
  color: black;
  text-align: center;
  font-size: 4rem;
}
.heading-timeline span {
  margin: 0 10px;
}
a:hover {
  text-decoration: none;
}
.headline-title h1:hover {
  text-decoration: none;
  color: blue;
}
.headline-1 .headline-title {
  align-items: center;
}
.headline-1 .headline-title h4 {
  text-align: center;
  line-height: 35px;
  font-size: 22px;
  font-weight: 300;
}
.headline-1 img {
  object-fit: cover;
  object-position: 50% 10%;
  height: 500px;
  width: 100%;
  margin: 20px auto;
}
.heading-timeline img {
  width: 40px;
  height: 40px;
}
.line,
.last-line {
  border: 1px solid black;
  text-align: center;
  opacity: 0.1;
  width: 80%;
  margin-left: 10%;
  margin: 20px auto;
}
.last-line {
  width: 100%;
}

.bulletin-news {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 80px;
}
.bulletin-news .bulletin-timeline {
  margin-top: 20px;
}
.bulletin-news h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}
.bulletin-grid {
  margin-bottom: 20px;
}
.bulletin-grid img {
  position: relative;
  height: 100%;
  width: 90%;
  object-fit: cover;
}
.bulletin-grid h4,
h4 {
  font-size: 18px;
}
.bulletin-timeline i {
  font-size: 12px;
  color: red;
}
.bulletin-timeline span {
  font-size: 12px;
  margin: auto 10px;
}
.bulletin-news-gap {
  margin-bottom: 20px;
}
.ad-grid img {
  margin-bottom: 20px;
}
.news {
  margin: 20px 0;
}
.news-option {
  background: rgb(212, 229, 236);
  color: blue;
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}
.news-option-grid p {
  font-size: 14px;
}

.news-option-grid .news-option {
  margin-right: 10px;
}
.news-option-grid #last:hover,
.news-option-grid .active {
  background: blue;
  color: white;
}
.news-option i {
  margin-left: 5px;
}
.news-title {
  background: rgb(243, 240, 240);
  border-bottom: 1px solid rgba(116, 109, 109, 0.3);
  margin-bottom: 20px;
}
.news-title h2 {
  margin-bottom: 0;
  margin: 10px 20px;
  color: blue;
}
.news-main h2 {
  margin: 15px auto;
}
.news-img img {
  object-fit: cover;
  height: 100%;
  object-position: 50% 70%;
}
.news-detail {
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
}
.news-headline {
  margin-bottom: 40px;
}

.news-grid h4 {
  margin-top: 20px;
  font-weight: 500;
}
.news-grid img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.thoughts,
.blog,
.trending1,
.tech-comments,
.interview-extra,
.sports-side-grid {
  padding: 10px 20px;
  color: white;
  background: blue;
}
.thoughts .news-option,
.blog .news-option {
  margin-right: 0;
  background: rgb(89, 122, 211);
  color: white;
}
.thoughts .news-option:hover {
  background: transparent;
}
.thoughts h2,
.blog h2,
.trending1 h2 {
  margin-bottom: 0;
}
.blog {
  background: rgb(214, 209, 209);
  color: black;
}
.blog .news-option,
-title .news-option {
  background: rgb(189, 186, 186);
  color: black;
}
.news .news-option:hover,
.blog .news-option:hover,
.corona-title .news-option:hover,
.foreign .news-option:hover,
.literature .news-option:hover {
  background: blue;
  color: white;
}

.people-grid1 {
  padding: 15px;
  background: rgb(243, 240, 240);
  color: black;
  border-bottom: 1px solid rgba(116, 109, 109, 0.3);
}
.people-grid1 img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 70px;
}
.people-grid1 p {
  font-size: 12px;
  font-style: italic;
}
.corona {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.corona-img-grid {
  margin-bottom: 20px;
}
.corona-img-grid .corona-news img {
  height: 350px;
  object-fit: cover;
}
.corona-news {
  position: relative;
  margin-right: 15px;
}
.corona-news::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -100px 27px 1px rgba(0, 0, 0, 0.65);
}
.corona-news .corona-news-text {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  padding: 20px;
}
.corona-news .corona-news-text h4 {
  font-weight: bolder;
  color: white;
}
.corona-img-grid .corona-news-text h4:hover {
  color: blue;
}
.corona-special {
  padding-top: 30px;
  margin-bottom: 20px;
}
.corona-special .corona-title h2 {
  padding: 5px 20px;
  background: rgb(158, 50, 50);
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
.trending-news .number h1 {
  text-align: center;
}
.trending-icon {
  position: absolute;
  background: #e0dfda;
  height: 10px;
  width: 10px;
  margin-left: 55px;
  transform: rotate(45deg);
}
.trending-grid,
.newspaper-grid,
.world-side-grid,
.business-extra-grid,
.world-side-grid {
  padding: 10px;
  border-bottom: 1px solid rgb(235, 230, 230);
}
.trending-grid:hover,
.newspaper-grid:hover,
.world-side-grid:hover,
.business-extra-grid:hover {
  background: rgba(248, 238, 238, 0.7);
}
.trending-grid h1 {
  font-size: 54px;
  opacity: 0.4;
}
.trending-grid h4 {
  font-weight: 900;
  opacity: 0.7;
}
.country-main-grid {
  padding: 20px 0;
}
.country-main-grid p {
  margin-top: 10px;
}
.country-sub-grid {
  margin-top: 20px;
  margin-bottom: 20px;
}
.country-grid {
  margin-bottom: 20px;
}
.country-grid img {
  height: 90px;
  width: 100%;
  object-fit: cover;
}
.feature {
  background: rgb(44, 41, 41);
  padding: 30px 0;
}
.feature .news-title h2 {
  color: grey;
  font-size: 40px;
}
.feature .news-title p {
  background: grey;
  color: white;
}
.feature .news-title {
  border-bottom: none;
  background: none;
}
.feature .news-title p:hover {
  background: blue;
}
.feature .left-right-icon i {
  margin-right: 20px;
  color: grey;
}
.feature .feature-grid h4 {
  color: white;
  margin: 20px 0;
}
.feature .feature-grid img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.feature .feature-grid:hover {
  cursor: pointer;
}
.tech {
  margin-top: 20px;
}
.tech .tech-grid {
  margin-bottom: 20px;
}
.tech .tech-comments-grid {
  border-bottom: 1px solid rgb(235, 230, 230);
  padding: 20px 0;
}
.tech-comments h2 {
  margin-bottom: 0;
}
.tech .news-title .news-option {
  background: rgb(146, 145, 145);
  color: black;
}
.tech .news-title .news-option:hover {
  background: blue;
  color: white;
}
.tech .tech-comments-grid .number {
  text-align: center;
  padding: 6px 30px;
  background: rgb(243, 240, 240);
}
.tech .tech-comments-grid .number h4 {
  margin-bottom: -5px;
  font-size: 26px;
  font-weight: bold;
  color: blue;
}
.tech .tech-comments-grid .number p {
  font-size: 12px;
  margin-bottom: 0;
}
.tech .tech-comments-grid:hover .number {
  background: blue;
  color: white;
}
.tech .tech-comments-grid:hover .number h4 {
  color: white;
}
.tech .tech-headline-text {
  margin: 30px 0;
}
.tech .tech-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.interview .news-title .news-option:hover,
.sports .news-option:hover,
.world .news-option:hover,
.nepal .news-option:hover {
  background: blue;
  color: white;
}
.interview .interview-main {
  background: blue;
}
.interview-main img {
  object-fit: cover;
  height: 100%;
}
.interview {
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

.interview-text {
  position: relative;
  padding: 50px;
}
.interview-main .interview-headline {
  padding: 20px;
  color: white;
  font-style: italic;
}
.interview .interview-main .interview-headline a {
  color: white;
}
.interview-text h2 {
  display: inline-block;
  font-size: 44px;
}
.interview-quote {
  top: 30px;
  position: absolute;
  font-size: 45px;
  left: 20px;
  color: cornflowerblue;
}
.interview-quote-small.d-flex.justify-content-end {
  color: rgb(182, 187, 182);
  font-size: 25px;
}
.interview-grid {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}
.interview-extra-grid {
  padding-top: 20px;
}
.interview-extra-grid img {
  height: 80px;
  width: 100%;
  object-fit: cover;
}
.interview-grid img {
  height: 100px;
  object-fit: cover;
}
.interview-section {
  margin: 30px 0;
}

.business {
  margin-bottom: 20px;
}
.business h2 {
  margin-top: 20px;
}
.business .business-main img {
  height: 100%;
  object-fit: cover;
}
.business .business-grid {
  margin-bottom: 20px;
}
.business .business-grid img {
  height: 80px;
  object-fit: cover;
}
.business-extra-grid {
  padding: 20px 10px;
}
.business-extra-grid h4 {
  color: black;
  margin-bottom: 0;
}

.entertainment {
  background: rgb(243, 240, 240);
}
.entertainment .headline img {
  height: 540px;
  object-fit: cover;
}
.entertainment .entertainment-grid {
  margin-bottom: 20px;
}
.entertainment-grid img {
  height: 100px;
  object-fit: cover;
  width: 100%;
}
.entertainment .headline-text h2 {
  margin-bottom: 100px;
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-left: 30px;
  font-size: 35px;
  color: white;
}
.entertainment .headline-text h2:hover {
  color: red;
}
.entertainment .headline-img .div1 {
  position: relative;
}
.entertainment .headline-img .div1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(249, 248, 249, 0) 30%,
    rgba(12, 12, 12, 1) 80%
  );
}

.entertainment h2 {
  margin-top: 20px;
}
.entertainment .entertainment-extra-grid img {
  height: 300px;
  object-fit: cover;
}
.health {
  background: rgb(195, 217, 226);
  margin: 30px auto;
  padding-top: 30px;
}
.health h2 {
  margin: 20px auto;
}
.health .health-title {
  margin-left: 15px;
}
.health .headline img {
  height: 500px;
  object-fit: cover;
}
.health .news-title {
  background: white;
  margin-bottom: 30px;
}
.health .health-grid {
  margin-bottom: 20px;
}
.health .health-grid img {
  width: 150px;
  height: 80px;
  object-fit: cover;
}
.health .health-extra-grid h4 {
  margin: 20px auto;
  font-size: 25px;
}
.health .health-extra-grid img {
  width: 100%;
}
.sports .sports-headline img {
  height: 250px;
  object-fit: cover;
}
.sports .sports-headline h2 {
  margin: 20px auto;
}
.sports .sports-grid,
.sports-side-grid,
.sports .sports-side-grid-img {
  margin-bottom: 20px;
}
.sports .sports-grid img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.sports-side-grid-text {
  padding-left: 0;
}
.sports .sports-side-grid-img img {
  object-fit: cover;
  width: 100%;
  height: 80px;
}
.foreign .foreign-headline img {
  height: 350px;
  object-fit: cover;
}
.foreign .foreign-headline h2 {
  margin: 20px auto;
}
.foreign .foreign-grid h4 {
  margin: 20px auto;
}
.foreign .foreign-grid img {
  height: 150px;
  object-fit: cover;
}
.foreign .foreign-bottom-grid {
  margin-bottom: 20px;
}
.foreign .foreign-bottom-grid img {
  height: 100px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}
.foreign .foreign-side-grid {
  margin: 20px auto;
}
.foreign .foreign-side-grid img {
  width: 100%;
}
.foreign .foreign-side-grid h4 {
  margin-top: 20px;
}
.foreign .foreign-extra-news {
  margin-bottom: 20px;
}
.foreign .foreign-extra-news img {
  height: 80px;
  object-fit: cover;
}
.literature {
  margin: 20px auto;
}
.literature .literature-headline img {
  height: 500px;
  object-fit: none;
  object-position: 10%;
}
.literature .literature-headline h2 {
  margin: 20px auto;
}
.literature .literature-grid img {
  object-fit: cover;
  height: 250px;
}
.literature .literature-grid h4 {
  margin: 20px auto;
}
.literature .newspaper-grid h4,
.world-side-grid h4 {
  margin-bottom: 0;
  padding: 15px;
}

.world {
  margin-bottom: 20px;
}
.world .world-headline img {
  height: 100%;
  object-fit: cover;
}
.world .world-headline-text {
  position: absolute;
  bottom: 0;
  color: black;
  padding: 20px 10px;
  margin-right: 20%;
  margin-bottom: 10%;
  background: rgba(247, 239, 239, 0.8);
}
.world-grid {
  margin-bottom: 20px;
}
.world-grid img {
  height: 100px;
  object-fit: cover;
}

.nepal {
  padding: 40px 0;
  background: rgb(211, 204, 204);
}
.nepal .news-title {
  background: white;
}
.nepal .gallery .gallery-grid {
  background: white;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nepal .gallery .gallery-grid img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.img-text {
  margin-left: 10px;
}
.img-text h4 {
  margin: 0px 20px;
}
.img-text i {
  color: grey;
}
.nepal .gallery .gallery-grid .img-text {
  padding: 20px 9px;
}
.footer-menu {
  background: rgb(60, 60, 177);
  padding: 50px 0;
  position: relative;
  color: white;
}
.footer-menu .footer-logo img {
  padding-top: 80px;
  position: absolute;
  background: white;
  margin-top: -50px;
  padding: 50px 10px 10px 10px;
}
.footer-menu h4 {
  font-size: 20px;
}
.footer-menu .footer-div .office-detail {
  margin-left: 30%;
}
.footer-menu .office-detail .social-media {
  margin-top: 20px;
}
.footer-menu .office-detail .social-media i {
  color: #00bfff;
}
.footer-menu .office-detail .social-media i:hover {
  color: white;
}
.footer .footer-details ul,
.footer-menu ul {
  list-style: none;
  padding: 0;
}
.footer .footer-details ul {
  margin-bottom: 0;
  padding: 20px 0;
}
.footer .footer-details ul li,
.footer-menu ul li {
  display: block;
}
.footer {
  background: darkblue;
  color: rgb(192, 187, 187);
}
.footer-details ul li,
.footer-menu ul li {
  margin-right: 20px;
  color: rgb(207, 202, 202);
}
.footer-menu ul li {
  padding-left: 0;
}
.footer-details ul {
  padding-left: 0;
}
.footer .footer-details ul li:hover,
.col-md-3 ul li:hover,
.footer-menu .office-detail ul li {
  color: white;
}
.footer-menu #footer-logo-text {
  color: #00bfff;
}
.footer .footer-details ul {
  margin-left: 0;
}
.footer .footer-copyright p {
  margin-bottom: 0;
}
body::selection {
  background: skyblue;
}
@media screen and (max-width: 375px) {
  .hide-mobile {
    display: none;
  }
  #logo-date {
    margin-top: 52px;
    margin-right: 20px;
  }
  .search-tooltip {
    left: -5px;
  }
  .time-tooltip {
    left: 31px;
  }
  .trending-tooltip {
    left: 67px;
  }
  .search-box,
  .time,
  .trending,
  .english {
    padding: 0 10px;
  }
  .headline-1 {
    margin: 10px auto;
  }
  .headline-1 h1 {
    font-size: 2rem;
  }
  .headline-1 .headline-title h4 {
    font-size: 15px;
    line-height: 20px;
  }
  .headline-1 .heading-timeline span {
    font-size: 12px;
  }
  .headline-1 .heading-timeline img {
    margin: 0;
  }
  .headline-1 .headline-img img {
    height: 200px;
    margin: 10px auto;
  }
  .bulletin-news {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .bulletin-news h2 {
    font-size: 30px;
    margin-top: 20px;
  }
  .bulletin-news .bulletin-timeline {
    margin-top: 0;
  }
  .ad-grid img {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
  }
  .news-img img {
    height: 200px;
  }
  .news-detail {
    font-size: 15px;
    line-height: 25px;
  }
  .news-headline {
    margin-bottom: 20px;
  }
  .news-grid h4 {
    margin: 10px 0;
  }
  .thoughts {
    margin-top: 20px;
  }
  .country-grid img,
  .country-sub-grid .img-text {
    height: 90px;
  }
  .country-sub-grid {
    margin: 0;
  }
  .country-sub-grid {
    margin-bottom: 10px;
  }
  .country-grid {
    margin: 0;
  }
  .country-grid .col-md-6 {
    margin-bottom: 10px;
  }
  .corona-news {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .tech .tech-comments-grid .number {
    padding: 5px 10px;
  }
  .interview-text {
    height: 200px;
  }
  .interview-text h2 {
    font-size: 25px;
  }
  .interview-main img {
    height: 200px;
    width: 100%;
  }
  .interview-grid {
    margin: 0;
  }
  .interview-grid .col-md-6 {
    margin: 10px 0;
  }
  .entertainment .headline-img {
    margin-bottom: 10px;
  }
  .literature .literature-headline h2 {
    margin: 10px 0;
  }
  .world-headline {
    margin-bottom: 10px;
  }
  .nepal .gallery .col-md-3 {
    margin-bottom: 20px;
  }
  .bulletin .bulletin-news .col-md-6 {
    margin-bottom: 10px;
  }
  .bulletin-news-gap {
    margin-bottom: 0;
  }
  .footer-menu .footer-div .office-detail {
    margin: 0;
  }
  .footer {
    font-size: 12px;
  }
  .footer-details ul li {
    margin-right: 10px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
  }
  .footer-copyright {
    margin-bottom: 20px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .hide-mobile {
    display: none;
  }
  #logo-date {
    font-size: 18px;
    margin-top: 60px;
    margin-right: 20px;
  }
  .search-tooltip {
    left: -42px;
  }
  .time-tooltip {
    left: 14px;
  }
  .trending-tooltip {
    left: 70px;
  }
  .ad-banner {
    display: none;
  }
  .headline-1 .headline-title h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  .headline-1 .headline-title h4 {
    font-size: 17px;
    line-height: 30px;
  }
  .headline-1 .headline-img img {
    height: 200px;
  }
  .headline-1 .headline-title .heading-timeline img {
    margin: 0;
  }
  .bulletin-news {
    padding-bottom: 20px;
  }
  .bulletin-grid {
    margin: 20px 0;
  }
  .bulletin-grid h4,
  .news .news-grid h4 {
    font-weight: bold;
    font-size: 22px;
  }
  .bulletin-timeline i,
  .bulletin-timeline span {
    font-size: 15px;
  }
  .ad-grid img {
    width: 100%;
  }
  .news-img img {
    height: 200px;
    width: 100%;
  }
  .news-detail p {
    font-size: 15px;
  }
  .news-headline {
    margin-bottom: 10px;
  }
  .news .news-headline .bulletin-timeline {
    margin: 10px 0;
  }
  .news-grid .col-6 {
    padding-right: 0;
    padding-bottom: 10px;
  }
  .bulletin-news-gap {
    margin-bottom: 0;
  }
  .bulletin-news-gap .col-md-6 {
    margin-bottom: 10px;
  }
  .bulletin-news-gap img {
    width: 100%;
    height: 100px;
  }
  .corona-news {
    margin: 0;
    margin-bottom: 20px;
  }
  .country-sub-grid {
    margin-bottom: 10px;
  }
  .country-grid img {
    width: 100%;
    height: 100px;
  }
  .country-grid {
    margin: 0;
  }
  .country-grid .col-md-6 {
    margin-bottom: 10px;
  }
  .feature .feature-grid img {
    height: 200px;
  }
  .feature .feature-grid h4 {
    font-size: 20px;
  }
  .tech .tech-grid img {
    height: 100px;
  }
  .tech .tech-grid h4,
  .tech-comments-grid .number h4,
  .interview-extra-grid h4,
  .interview-grid h4,
  .business-extra-grid h4,
  .bulletin-grid h4,
  .sports h4,
  .foreign h4,
  .literature .newspaper-grid h4,
  .world-grid h4,
  .world-side-grid h4 {
    font-size: 22px;
    font-weight: 500;
  }
  .tech .tech-comments-grid .number {
    padding: 10px 15px;
  }
  .interview .interview-main .col-md-7,
  .interview .interview-main .col-md-5 {
    height: 200px;
  }
  .interview-text h2 {
    font-size: 27px;
    font-weight: bold;
  }
  .interview-main img {
    width: 100%;
  }
  .interview-grid {
    margin-top: 0;
    margin-bottom: 0;
  }
  .interview-grid .col-md-6 {
    margin: 10px 0;
  }
  .interview-extra-grid img {
    height: 100px;
  }
  .entertainment .headline-img img {
    height: 400px;
  }
  .entertainment .headline {
    margin-bottom: 20px;
  }
  .health {
    margin-top: 0;
  }
  .sports .sports-side-grid-img img {
    height: 100px;
  }
  .world-headline {
    margin-bottom: 20px;
  }
  .nepal .gallery .gallery-grid img {
    height: 200px;
    object-position: 0 0;
  }
  .gallery .col-md-3 {
    margin-bottom: 20px;
  }
  .footer-menu .footer-div .office-detail {
    margin-left: 10%;
    margin-bottom: 20px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
  }
  .footer-copyright {
    margin-bottom: 20px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .ad-banner {
    display: none;
  }
  .show-tab {
    display: block;
  }
  .hide-tab {
    display: none;
  }
  .logo #logo-date {
    font-size: 15px;
    margin-top: 25px;
  }
  .headline-1 h1 {
    font-size: 2.5rem;
  }
  .headline-1 .headline-title h4 {
    font-size: 17px;
  }
  .headline-1 .headline-img img {
    height: 350px;
  }
  .bulletin-grid h4 {
    font-size: 15px;
  }
  .bulletin-news h2 {
    font-size: 2rem;
  }
  .search-tooltip {
    left: -69px;
  }
  .time-tooltip {
    left: -13px;
  }
  .trending-tooltip {
    left: 43px;
  }
  .news-headline .news-detail {
    font-size: 15px;
  }
  .thoughts p {
    font-size: 12px;
  }
  .thoughts h2 {
    font-size: 18px;
  }
  .people-grid1 h5 {
    font-size: 13px;
  }
  .people-grid1 img {
    height: 50x;
  }
  .trending-grid h1 {
    font-size: 40px;
  }
  .trending-headlines h4 {
    font-size: 12px;
  }
  .trending1 h2,
  .blog h2,
  .tech-comments h2,
  .interview-section .interview-extra h2,
  .sports-side-grid h2,
  .world-headline-text h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .news-option-grid p,
  .blog p,
  .news-title p {
    font-size: 13px;
  }
  .news-option {
    padding: 5px;
  }
  .news-grid .col-md-4 {
    padding-right: 0;
  }
  .literature .newspaper-grid h4,
  .world-side-grid h4 {
    padding: 0;
  }
  .world-grid .col-md-5,
  .world-grid .col-md-7 {
    padding-left: 0;
  }
  .nepal .gallery .gallery-grid img {
    height: 200px;
  }
  .gallery-grid .img-text h4 {
    font-size: 12px;
  }
  .tech .tech-comments-grid {
    margin: 10px 0;
    padding: 5px 0;
  }
  .tech .tech-comments-grid .number {
    padding: 6px 6px;
    height: 50px;
  }
  .tech .tech-comments-grid .number h4 {
    font-size: 20px;
  }
  .tech .tech-comments-grid .number p {
    font-size: 10px;
  }
  .tech .container {
    padding: 0;
  }
  .interview-text h2 {
    font-size: 30px;
  }
  .interview-extra-grid .col-md-7,
  .interview-grid .col-md-8 {
    padding-left: 0;
  }
  .interview-extra-grid img {
    height: 80px;
  }
  .business-extra-grid {
    padding: 10px;
  }
  .business-grid .col-md-4,
  .entertainment-grid .col-md-5,
  .entertainment-grid .col-md-7,
  .entertainment .headline,
  .headline,
  .health .col-md-5,
  .sports-grid {
    padding-right: 0;
  }
  .entertainment-grid h4 {
    font-size: 15px;
  }
  .entertainment-grid {
    margin-bottom: 10px;
  }
  .entertainment .headline-text h2 {
    font-size: 30px;
    margin-left: 20px;
  }
  .entertainment h2 {
    font-size: 26px;
  }
  .literature .literature-grid img {
    height: 160px;
  }
  .footer-menu .footer-logo img {
    padding: 40px 10px 10px 10px;
  }
  .footer-menu .footer-div .office-detail {
    margin-left: 10%;
  }
  .footer-menu .office-detail h1 {
    font-size: 35px;
  }
  .footer-menu ul li {
    font-size: 15px;
  }
  .tech .tech-grid img {
    height: 60px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu ul li a {
    padding: 14px 15px;
  }
  .logo #logo-date {
    margin-right: 17px;
    margin-top: 35px;
  }
  .logo #logo-date {
    font-size: 15px;
  }
  .menu ul li {
    font-size: 14px;
  }
  .search-box,
  .time {
    width: 50px;
  }
  .search-tooltip {
    left: 26px;
  }
  .time-tooltip {
    left: 76px;
  }
  .trending-tooltip {
    left: 126px;
  }
  .headline-1 h1 {
    font-size: 30px;
  }
  .headline-1 span {
    font-size: 14px;
  }
  .headline-1 .headline-title h4 {
    font-size: 17px;
  }
  .headline-1 .headline-img img {
    position: relative;
    object-fit: cover;
    height: 300px;
  }
  .people-grid1 h5 {
    font-size: 15px;
  }
  .tech .tech-comments-grid .number {
    padding: 6px 12px;
    height: 60px;
  }
  .interview-text h2 {
    font-size: 34px;
  }
  .footer-menu .office-detail h1 {
    font-size: 30px;
  }
  .tech .tech-grid img {
    height: 80px;
  }
  .trending-headlines h4 {
    font-size: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .top-header .logo #logo-date {
    margin-top: 40px;
    font-size: 17px;
  }
  .menu {
    align-items: center;
  }
  .logo {
    align-content: center;
  }

  .menu ul li {
    font-size: 18px;
  }
  .trending-headlines h4 {
    font-size: 20px;
  }
  .tech .tech-comments-grid {
    padding: 20px 0;
  }
  .tech .tech-comments-grid .number {
    padding: 6px 20px;
  }
  .tech .tech-comments-grid .number h4 {
    font-size: 30px;
  }
  .tech .tech-comments-grid .number p {
    font-size: 12px;
  }
  .tech .tech-grid img {
    height: 100px;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  #logo-date {
    margin-top: 40px;
    margin-right: 20px;
    font-size: 20px;
  }
}
